$color-primary: #101820;
$color-primary-dark-1: #080c10;
$color-primary-dark-2: #0d131a;

$color-secondary: #f2aa4c;

$bp-largest: 75em; //1200px/16 = 75
$bp-large: 62.5em;
$bp-medium: 43.75em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

.header2 {
  background-color: $color-primary;
  grid-column: full-start / full-end;

  background-image: linear-gradient(
      rgba(16, 24, 32, 0.958),
      rgba(16, 24, 32, 0.958)
    ),
    url(../../../img/conback2.jpeg);
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  justify-items: center;

  padding: 15rem 10rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 10rem 5rem;
    grid-template-columns: 1fr;
  }

  &__text-box {
    max-width: 100%;
  }

  &__img {
    max-width: 100%;
    @media only screen and (max-width: $bp-medium) {
      max-width: 70%;
    }

    @media only screen and (max-width: $bp-smallest) {
      max-width: 90%;
    }
  }
}
