body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section--hidden-left {
  opacity: 0;
  transform: translateX(-8rem);
}
.section--hidden-right {
  opacity: 0;
  transform: translateX(8rem);
}
.section--hidden-top {
  opacity: 0;
  transform: translateY(-8rem);
}
.section--hidden-bottom {
  opacity: 0;
  transform: translateY(8rem);
}

.hide {
  transition: transform 1s, opacity 1s;
}
